body {
    background-image: url("concert-cords.jpg");
    font-family: 'Rock Salt', cursive;
}
kbd {
    font-family: 'Rock Salt', cursive;
}
/* The margin-left and margin-top values set this element in its place on the page. */
#hihat-cymbals {
    background-color: #eddfb3;
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    margin-left: 30%;
    margin-top: 15%;
}
/*sets span element below kbd*/
span {
    display: block;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}
.kit {
    background-color: #eddfb3;
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
}
#crash-cymbals1 {
    margin-left: 30%;
    margin-top: 1%;
}
#snare-drum {
    margin-left: 41%;
    margin-top: -22%;
    margin-bottom: -15%;
}
#sm-tom {
    margin-left: 41%;
    margin-top: -13%;
}
#md-tom {
    margin-left: 52.5%;
    margin-top: 4.49%;
}
#fl-tom {
    margin-left: 52.5%;
    margin-top: 1.25%;
}
#ride-cymbals {
    margin-left: 63.75%;
    margin-top: -18.9%;
    margin-bottom: -15%;
}
#crash-cymbals2 {
    margin-left: 64%;
    margin-top: 16.1%;
}
#bass {
    background-color: #eddfb3;
    width: 300px;
    height: 100px;
    border: 3px solid black;
}