body {
    background-image: url("concert-cords.jpg");
    font-family: 'Rock Salt', cursive;
}
kbd {
    font-family: 'Rock Salt', cursive;
}
/* The margin-left and margin-top values set this element in its place on the page. */
#hihat-cymbals {
    background-color: #eddfb3;
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    margin-left: 30%;
    margin-top: 15%;
}
/*sets span element below kbd*/
#hhc {
    display: block;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

